/* Colours to distinguish different classes */

.lesson {
    color         : #555;
    border-radius : 3px;
    border-width  : 1px;
    padding-left  : 3px;
    margin-top    : 2px;
    margin-bottom : 2px;
    height        : 100%;
}

.lesson[data-eventtype="compulsary"] {
    border-style : solid;
}

.lesson[data-eventtype="group"] {
    border-style : dashed;
}

.lesson-style-0 {
    border-color     : #006666;
    background-color : #CCFFFF;
}

.lesson-style-1 {
    border-color     : #660066;
    background-color : #FFCCFF;
}

.lesson-style-2 {
    border-color     : #666600;
    background-color : #FFFFCC;
}

.lesson-style-3 {
    border-color     : #000066;
    background-color : #CCCCFF;
}

.lesson-style-4 {
    border-color     : #660000;
    background-color : #FFCCCC;
}

.lesson-style-5 {
    border-color     : #006600;
    background-color : #CCFFCC;
}

.table th {
    vertical-align : middle !important;
    text-align     : center;
}

.table td, .table th {
    border : 1px solid #E3E3EF;
}

/* From http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b */
.tt-query {
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow    : inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color : #999;
    top   : auto !important;
}

.tt-menu {
    width                 : 422px;
    margin-top            : 10px;
    padding               : 4px 0;
    background-color      : #FFF;
    border                : 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
    -webkit-box-shadow    : 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow       : 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow            : 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding     : 3px 20px;
    line-height : 24px;
    cursor      : pointer;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
    color            : #FFF;
    background-color : #0097CF;
}

.tt-suggestion p {
    margin : 0;
}

.twitter-typeahead {
    display : inline !important;
}

