/* Colours to distinguish different classes */

.lesson {
	color: #555;
	border-radius: 3px;
	border-width: 1px;
	padding-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.lesson[data-eventtype="compulsary"] {
	border-style: solid;
}
.lesson[data-eventtype="group"] {
	border-style: dashed;
}

.lesson-style-0 {
	border-color: #006666;
	background-color: #CCFFFF;
}

.lesson-style-1 {
	border-color: #660066;
	background-color: #FFCCFF;
}

.lesson-style-2 {
	border-color: #666600;
	background-color: #FFFFCC;
}

.lesson-style-3 {
	border-color: #000066;
	background-color: #CCCCFF;
}

.lesson-style-4 {
	border-color: #660000;
	background-color: #FFCCCC;
}

.lesson-style-5 {
	border-color: #006600;
	background-color: #CCFFCC;
}

#load-status {
    font-size: 14px;
    margin-left: 10px;
}