[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalevents = "*"
pyyaml = "*"
tzdata = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]

[requires]
python_version = "3.9"
