/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

/* :root {
  --border-radius: 5px;
  --border-inactive: #666;
  --border-active: #3f51b5;
  --input-height: 38px;
}

.container-fluid {
    padding:0px;
}

.date-picker {
  height: var(--input-height);
  padding: 10px 12px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: 1px solid var(--border-inactive);
  border-right: none;
  max-width: 120px;
}

.date-picker:focus {
  border: 2px solid var(--border-active);
  outline: none;
  padding: 10px 10px 10px 11px;
}

.date-picker.full {
  border-radius: var(--border-radius);
  border-right: 1px solid var(--border-inactive);
}

.date-picker.full:focus {
  padding: 10px 11px 10px 11px;
  border-right: 2px solid var(--border-active);
}

.search-container {
  margin-bottom: 4px;
}

.search-container input {
  height: var(--input-height);
  border: 1px solid var(--border-inactive);
  padding: 10px 16px;
  border-radius: 6px;
}

.search-container input:focus {
  height: var(--input-height);
  border: 2px solid var(--border-active);
  padding: 10px 15px;
}

.ics-export {
  -wimindth: 100px;
  white-space: nowrap;
}

.search-container.empty .react-search-box-dropdown {
  display: none;
}

.react-search-box-dropdown {
  max-height: 0px;
  z-index: 9999;
  border-color: var(--border-inactive);
  margin: 0 !important;
}

.react-search-box-dropdown li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.react-search-box-dropdown li:nth-child(n+11) {
  display:none;
}
.react-search-box-dropdown li:nth-child(10) {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.class-tag {
  border: 2px solid grey;
  border-radius: 100px;
  background: #efefef;
  padding: 2px 4px;
  height: 32px;
  margin-right: 10px;
  max-width: 135px;
}

.class-tag span {
  margin: 4px;
}

.class-tag svg {
  color: grey !important;
  cursor: pointer;
  vertical-align: top;
}

.courses-chosen {
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding: 0;
  margin-right: 10px;
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 1.5em;
  }
} */

@media (max-width: 600px) {
    .fc .fc-toolbar.fc-header-toolbar {
        display: block;
        text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
        display: block;
        margin: 0.2vh;
    }

    .fc .fc-header-toolbar .fc-toolbar-title {
        margin: 1vh;
    }

    /* override static width for week number */
    .fc .fc-timegrid-axis-cushion {
      min-width: 0px !important;
      /*max-width:*/
    }
}

.fc .fc-timegrid-slots .fc-timegrid-slot {
    height: 5vh;
    border-bottom: 0 !important;
    vertical-align: top;
}

/* override static width for week number */
.fc .fc-timegrid-axis-cushion {
  min-width: 73px;
}

/* apply default colour to things which shouldn't be links */
.fc .fc-event-main a {
  color: var(--fc-event-text-color, inherit) !important;
}

/* apply override to actual links in events */
.fc .fc-event a {
  text-decoration: underline;
  font-style: italic;
  color: var(--fc-event-text-color, inherit) !important;
}

/* apply underline on hover to Agenda event links */
.fc .fc-list-event-title a:hover {
  text-decoration: underline;
}

/* vertically center icons with text */
.dropdown svg {
  margin-bottom: 3%;
}

/* hide react error overlay */
iframe {
  display: none;
}

/* make it consistent with bootstrap styling */
.timezone-select {
  width: 100%;
  margin-bottom: 1em;
  cursor: text;
}
div[id^=react-select] {
  z-index: 100000;
  cursor: text;
}
div[id^=react-select] div {
  cursor: pointer;
}

/* choose/reset */
.choose-button {
  border: 0;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.fc-event-main {
  word-break: break-word;
  line-height: normal;
  overflow-y: hidden;
}

.fc-event-main p {
  margin: 0 0 4px 0;
  padding: 0;
}

.fc-timegrid-event-harness:hover {
  z-index: 100 !important;
}

.hide-button {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  display: none;
  cursor: pointer;
}

.fc-timegrid-event-harness:hover .hide-button {
  display: block;
}

.hide-button svg {
  fill: white;
}

.fab {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
}

.fab-button {
    /* Imagine if I followed the bootstrap design pattern */
    /* I know right? That's ridiculous. */
    border-radius: 50%;
    width: 4em;
    height: 4em;
    padding: 12px;
    box-shadow: 0 2px 5px 0 #000000;
    z-index: 200;


    /* I know we already set this in the fab class, but z-index requires explicit positioning */
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.fab--open .fab-button {
    background-color: #2d2d2d !important;
}

.fab-actions {
    position: fixed;
    bottom: 5em;
    /*right: -5em;*/
    right: 1em;
    text-align: center;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.fab-actions .fab-action {
    width: 3em;
    height: 3em;
    margin: 0.5em 0.5em -3.5em;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 #000000;
    padding-left: 0;
    padding-right: 0;
    transition: margin 0.3s;

    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.fab--open .fab-actions .fab-action {
    margin: 0 0.5em 0.5em;
}

.hidden {
    display: none !important;
}

.dialog-container {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.hidden.dialog-container {
    display: block !important;
    opacity: 0;
    pointer-events: none;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    transition: margin-top 0.5s, filter 0.5s;
}

.hidden .dialog {
    margin-top: 2em;
}

.daySelect {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    font-weight: bold;
}
