name: Scrape Timetable

on:
  push:

  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install pipenv
        run: python -m pip install pipenv

      - name: Install dependencies
        working-directory: anuscrape
        run: |
          python -m pipenv install --system
      - name: Run Scraper
        working-directory: anuscrape
        run: python3 ./scraper.py

      - name: Compare new and old timetable
        id: compare
        continue-on-error: true
        working-directory: anuscrape
        run: diff ./timetable.json ../data/timetable.json

      - name: Git commit and push
        if: ${{ steps.compare.outcome == 'failure' }}
        run: |
          cd anuscrape
          echo New update found at `date` >> ./updatelog.txt
          mv -f ./timetable.json ../data/
          python3 ./update_date.py

          git config --global user.name 'Obi Symons'
          git config --global user.email 'BishopOfTurkey@users.noreply.github.com'
          git commit -am "Automatic Scrape"
          git push
