# This is a basic workflow to help you get started with Actions

name: Semester Detection

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron : "0 0 1 1 *"
    - cron : "0 0 15 6 *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: [3.9]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install dependencies
        working-directory: semester_update
        run: |
          python -m pip install --upgrade pip 
          pip install pipenv
          pipenv install
        
      - name: Check database
        working-directory: semester_update
        run:
          pipenv run py get_semester.py 
          
      - name: Update File
        working-directory: semester_update
        run:
          pipenv run py updater.py 
      - name: Deploy to GitHub Pages
        # You may pin to the exact commit or the version.
        # uses: JamesIves/github-pages-deploy-action@5dc1d5a192aeb5ab5b7d5a77b7d36aea4a7f5c92
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          # This is the branch you wish to deploy to, for example gh-pages or docs.
          branch: master
          # The folder in your repository that you want to deploy. If your build script compiles into a directory named build you would put it here. Folder paths cannot have a leading / or ./. If you wish to deploy the root directory you can place a . here.
          folder: .
